
build/generated/mockable-android-25.jar

app/google-services.json

build/intermediates/dex-cache/cache.xml

build/intermediates/proguard-files/proguard-android-optimize.txt-2.2.3

build/intermediates/proguard-files/proguard-android.txt-2.2.3

app/google-services.json
